embedded/.pio
embedded/.vscode
embedded/.vscode/.browse.c_cpp.db*
embedded/.vscode/c_cpp_properties.json
embedded/.vscode/launch.json
embedded/.vscode/ipch
.DS_Store
embedded/test_host/build/
embedded/test_host/cmake-build-debug/
embedded/test_host/.idea/
